.main-title {
  margin-bottom: 50px;
}

.input-field {
  margin-bottom: 20px;
}

.card-form {
  padding: 20px;
  margin-bottom: 40px;
}

.card-table {
  padding: 20px;
}

.alert {
  padding: 10px 15px;
  border-radius: 6px;
  margin-bottom: 24px;
}
